.header{
    &__midle {
        display: flex;
        justify-content: center;
        &-list {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex-direction: column;
            max-width: 375px;
            padding-right: 64px;

        }
        &-button {
            font-weight: 700;
            font-size: 38px;
            line-height: 46px;
            white-space: nowrap;
            background: transparent;
            color: $gray-text;
            border: none;
            cursor: pointer;
            padding-bottom: 30px;
            &--active {
                background: $lineral-active;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                text-fill-color: transparent;
            }
        }
        &-inform {
            justify-content: center;
            align-items: center;
            padding-left: 60px;
            border-left: 4px solid $black-line;
        }
        &-h2 {
            font-weight: 700;
            font-size: 30px;
            line-height: 37px;
            color: $white;
        }
        &-text {
            font-size: 19px;
            line-height: 30px;
            max-width: 581px;
            color: $white;
        }
    }
}

.p-b-0 {
    padding-bottom: 0;
}

@media screen and (max-width: 767px) {
    .header {
        &__midle {
            flex-wrap: wrap;
            justify-content: flex-start;
            &-list {
                flex-direction: row;
                overflow: auto;
                -ms-overflow-style: none;
                max-width: 707px;
                padding-left: 595px;
                padding-bottom: 42px;
                &::-webkit-scrollbar{
                    width: 0;
                }
            }
            &-button {
                padding-bottom: 0;
                padding-right: 30px;

            }
            &-inform {
                border-left: none;
                border-top: 4px solid $black-line;
                padding-left: 0;
            }
            &-h2 {
                padding-top: 34px;
            }
            &-text {
                padding-top: 8px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .header{
        &__midle {
            padding-top: 44px;
            &-button {
                font-size: 30px;
                line-height: 37px;
                padding-right: 36px;
            }
            &-h2 {
                font-size: 20px;
                line-height: 24px;
                padding-top: 15px;
            }
            &-list {
                padding-left: 493px;
                padding-bottom: 15px;
            }
            &-text {
                padding-top: 10px;
                padding-bottom: 11px;

            }
        }
    }
}
