.main-a-top {
    &__wrap {
        padding: 60px 180px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas: "inform stat";
        gap: 30px;
    }
    &__information {
        grid-area: inform;
        max-width: 600px;
        &-h2 {
            font-weight: 700;
            font-size: 38px;
            line-height: 46px;
            background: $lineral-h2;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-fill-color: transparent;
        }
        &-text {
            font-size: 19px;
            line-height: 30px;
            color: $twelve;
        }
    }
    &__statistics {
        grid-area: stat;
        max-width: 388px;
        padding-left: 30px;
        &-h2 {
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
            background: $lineral-h2;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-fill-color: transparent;
            &--year {
                &::before {
                    content: '';
                    width: 32px;
                    height: 32px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-image: url("../../img/year-b.svg");
                    padding-right: 32px;
                }
            }
            &--client {
                &::before {
                    content: '';
                    width: 32px;
                    height: 32px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-image: url("../../img/client-b.svg");
                    padding-right: 32px;
                }
            }
            &--hour {
                &::before {
                    content: '';
                    width: 32px;
                    height: 32px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-image: url("../../img/hour-b.svg");
                    padding-right: 32px;
                }
            }
        }
        &-text {
            font-size: 16px;
            line-height: 20px;
            color: $menu-back;
        }
    }
}

@media screen and (max-width: 1100px){
    .main-a-top {
        &__wrap {
            padding: 60px;
        }
    }
}

@media screen and (max-width: 800px){
    .main-a-top {
        &__wrap {
            grid-template-areas: "inform" "stat";
        }
        &__information {
            width: 100%;
        }
        &__statistics {
            max-width: 100%;
            border-left: 3px solid $point-af-bef;
        }
    }
}
