.news {
    background-color: $news-back;
    &__wrap {
        padding-top: 30px;
        padding-bottom: 10px;
    }
    &__link {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        color: $links;
        padding-bottom: 10px;
        margin: 0;
        cursor: pointer;
        &::after {
            content: ' ';
            width: 5px;
            height: 10px;
            background-image: url("../../img/arr.svg");
            background-repeat: no-repeat;
            background-position: right top;
            padding-left: 10px;
        }
    }
    &__h2 {
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
        background: $lineral-h2;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        padding-bottom: 30px;
        max-width: 800px;
        margin: 0;
    }
    &__items {
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: "one two three";
        gap: 30px
    }
    &__img {
        width: 100%;
        height: 200px;
    }
    &__item {
        background: $white;
        &--first {
            grid-area: one;
        }
        &--second {
            grid-area: two;
        }
        &--third {
            grid-area: three;
        }
    }
    &__inform {
        padding: 27px 37px;
        display: flex;
        flex-direction: column;
        &-h2 {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: $links;
            margin: 0;

        }
        &-date {
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $gray-text;
            margin-top: 10px;

        }
        &-text {
            padding-top: 15px;
            font-size: 14px;
            line-height: 22px;
            color: $twelve;
            border-top: 3px solid $point-af-bef;
        }
    }
}

@media screen and(max-width: 767px){
    .news {
        &__wrap {
            padding-bottom: 16px;
        }
        &__h2 {
            padding-top: 9px;
        }
        &__inform {
            padding: 27px 29px;
            &-date {
                margin-top: 16px;
                margin-bottom: 0;
            }
        }
        &__items {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "one two"
                                 "three three";
            gap: 20px 30px;
        }
        &__item {
            &--first {
                grid-area: one;
            }
            &--second {
                grid-area: two;
            }
            &--third {
                grid-area: three;
            }
        }
    }
}
@media screen and(max-width: 600px){
    .news {
        &__items {
            display: grid;
            grid-template-columns: auto;
            grid-template-areas: "one"
                                 "two"
                                 "three";
            gap: 30px
        }
    }
}

@media screen and (max-width: 500px){
    .news {
        &__wrap {
            padding: 27px 30px;
            padding-bottom: 30px;
        }
        &__h2 {
            font-size: 30px;
            line-height: 37px;
        }
        &__inform {
            padding-bottom: 14px;
        }
    }
}
