$pink-red: #F0145A;
$white: #ffffff;
$point-af-bef: #E6E6F0;
$menu-back: #323264;
$gray: rgba(245, 245, 250, 0.2);
$overlay: rgba(0, 0, 0, 0.5);
$lineral: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$gray-text: #B3B3BA;
$black-line:  rgba(255, 255, 255, 0.3);
$lineral-active: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
$links: #24A3FF;
$lineral-h2: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
$shadow-one: #CACADB;
$shadow-two: #E7E7F2;
$one: #1C4280;
$two: #143646;
$three: #F48B30;
$four: #9E4DC3;
$fifth: #FD9339;
$six: #E2E2E4;
$seven: #C71C36;
$eight: #DCF3F9;
$nine: #EAEAEA;
$ten: #282240;
$eleven: #1D4568;
$twelve: #000000;
$news-back: #F5F5FA;
$phone: #46466E;
$head-h: #F5F5FA;
